html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  width: 100%;
  height: 100%;
}
div .Left {
  width: 375px;
  background: url("../imge/login/banner.5b1efcd8.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
div .Right {
  flex: 1;
}
div .Right aside {
  width: 100%;
  height: 80px;
  padding: 20px;
}
div .Right aside img {
  float: left;
  width: 40px;
  height: 40px;
}
div .Right aside p {
  float: left;
  font-size: 26px;
  font-weight: 400;
  margin-left: 10px;
  color: rgb(109, 109, 109);
}
div .Right aside ul {
  float: right;
}
div .Right aside ul li {
  float: left;
  line-height: 40px;
  margin: 0 10px;
}
div .Right aside ul li a {
  font-size: 14px;
  color: #838383;
}
div .Right aside ul img {
  width: 20px;
  height: 20px;
  color: pink;
  margin: 10px 0 0 -7px;
}
div .Right aside ul li:nth-of-type(4) div {
  display: none;
  width: 100%;
  height: 60px;
  background-color: black;
  box-shadow: 0 0 8px 2px white;
  flex-direction: column;
}
div .Right aside ul li:nth-of-type(4) div p {
  display: none;
  height: 30px;
  font-size: 10px;
  margin: 0;
  text-align: center;
  line-height: 30px;
}
div .Right aside ul .li:hover a {
  color: rgba(186, 53, 0, 0.8901960784);
}
div .Right article {
  position: absolute;
  left: 715px;
  top: 100px;
  width: 450px;
  height: 600px;
  padding: 40px 45px;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
}
div .Right article figure {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
}
div .Right article figure .loImg {
  position: absolute;
  z-index: 99999999999;
  top: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
}
div .Right article figure big {
  position: absolute;
  border-radius: 5px;
  opacity: 0.4;
  width: 0;
  height: 0;
  border-left: 50px solid #ff5c00;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  transform: rotate(314deg);
  margin: -32px 0 0 27px;
}
div .Right article .i1 {
  display: none;
  position: absolute;
  top: 15px;
  right: 92px;
  width: 100px;
  height: 40px;
  color: black;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  background-color: #ff5c00;
}
div .Right article .i1::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid #ff5c00;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
div .Right article div {
  height: 40px;
}
div .Right article div a {
  height: 40px;
  font-size: 22px;
  font-weight: 700;
  margin: 4px;
}
div .Right article div a:nth-of-type(1) {
  color: white;
  border-bottom: 4px solid red;
}
div .Right article form {
  margin-top: 20px;
}
div .Right article form input {
  width: 354px;
  height: 60px;
  background-color: rgba(51, 51, 51, 0.8117647059);
  margin-bottom: 35px;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}
div .Right article form input:nth-of-type(3) {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-bottom: 0;
}
div .Right article form small {
  font-size: 16px;
}
div .Right article form .Pyan {
  position: absolute;
  top: 196px;
  right: 51px;
  width: 60px;
  height: 60px;
}
div .Right article form .Pyan img {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
}
div .Right article form .Pyan img:nth-of-type(1) {
  display: none;
}
div .Right article button {
  display: block;
  width: 354px;
  height: 60px;
  border-radius: 5px;
  background-color: #dd4200;
  border: none;
  margin-top: 20px;
  font-size: 18px;
  color: white;
}
div .Right article .usPa {
  width: 354px;
  height: 35px;
  margin-top: 10px;
}
div .Right article .usPa p {
  font-size: 17px;
  flex: 1;
  color: #ff5c00;
}
div .Right article .usPa p:nth-of-type(2) {
  text-align: right;
}
div .Right article .p {
  width: 354px;
  height: 60px;
  color: #999999;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  font-weight: 700;
}
/*# sourceMappingURL=login.css.map */
