.w {
    width: 1200px;
    margin: 0 auto;
}
/* 头部 */
.logo {
    height: 50px;
}
.logo img {
    float: left;
    width: 50px;
    height: 50px;
    
}
.logo span {
    float: left;
    font-size: 23px;
    line-height: 50px;
    padding-left: 8px;
}
.logo ul li {
    float: right;
    font-size: 16px;
    color: #ccc;
    line-height: 50px;
    padding: 0 15px;
}
/* 主体 */
.registerarea {
    width: 440px;
    height: 550px;
    margin: 100px auto;
    box-shadow: 1px 1px 7px 2px pink;
}
.reg_form .denglu {
    height: 60px;
    font-size: 23px;
    padding-top: 50px ;
    padding-left: 200px;
}
form {
    margin-top: 30px;
    margin-left: -40px;
    font-size: 13px;
    color: rgb(145, 145, 145);
}
.reg_form ul {
    text-align: center;
}
.reg_form ul li input {
    width: 242px;
    height: 35px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form .agree {
    display: inline-block;
    margin-left: 167px;
}
.reg_form  i {
    display: inline-block;
    margin-left: 5px;
}
.reg_form a {
    color: red;
}
.reg_form .zhuce {
    width: 200px;
    height: 34px;
    color: #ffff;
    background-color: red;
    margin-top: 30px;
    margin-left: 160px;
}
.reg_form .zhuce a {
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    margin-left: 83px;
}
/* 底部 */
footer {
    height: 100px;
}
.mod_copyright .links {
    text-align: center;
    padding-top: 20px;
}
.mod_copyright .links a {
    margin: 0 10px;
}
.mod_copyright .copyright {
    text-align: center;
    padding-top: 17px;
}