/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
    cursor: pointer;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
    font-style: normal;
}

/* 去掉li 的小圆点 */
li {
    list-style: none;
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle;
}

button {
    /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
    cursor: pointer;
}

a {
    text-decoration: none;
}

button,
input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, '\5B8B\4F53', sans-serif;
    /* 默认有灰色边框我们需要手动去掉 */
    border: 0;
    outline: none;
}

body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, '\5B8B\4F53', sans-serif;
    color: #666;
}

.hide,
.none {
    display: none;
}

/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: '.';
    height: 0;
}

.clearfix {
    *zoom: 1;
}

/* 头部 */
$public: 1226px;
header {
    height: 102px;
    div {
        display: flex;
        width: $public;
        height: 100%;
        margin: auto;
        .Left {
            display: flex;
            flex: 1;
            align-items: center;
            img {
                width: 48px;
                height: 48px;
            }
            h2 {
                font-weight: 400;
                color: #424242;
                font-size: 28px;
                margin-left: 55px;
            }
        }
        .Right {
            display: flex;
            flex: 1;
            align-items: center;
            flex-direction: row-reverse;
            p {
                margin: 0 10px;
            }
        }
    }
}
// 展示部分
aside {
    height: 340px;
    background-color: #F5F5F5;
    padding-top: 38px;
    div {
        width: $public;
        margin: auto;
        text-align: center;
        overflow: hidden;
        // h1 {
        //     font-weight: 400;
        //     font-size: 50px;
        //     margin-top: 40px;
        // }
        // p {
        //     width: 170px;
        //     height: 52px;
        //     color: #fff;
        //     font-size: 18px;
        //     background-color: #ff6700;
        //     line-height: 52px;
        //     margin: 30px 0 0 442px;
        // }
        .Top {
            width: 100%;
            height: 70px;
            background-color: #fff;
            .top1 {
                float: left;
                width: 110px;
                height: 70px;
                margin: 0;
            input {
                float: left;
                width: 20px;
                height: 20px;
                margin-top: 25px;
                margin-left: 10px;
            }
            p {
                width: 70px;
                height: 40px;
                font-size: 16px;
                color: black;
                margin-top: 22px;
            }
            }
            em {
                float: left;
                display: block;
                width: 120px;
                height: 70px;
            }
            .top2 {
                float: left;
                width: 380px;
                height: 70px;
                margin: 0;
                text-align: left;
                font-size: 16px;
                color: black;
                line-height: 70px;
            }
            .top3 {
                float: left;
                width: 158px;
                height: 70px;
                font-size: 16px;
                color: black;
                line-height: 70px;
                margin: 0;
            }
            .top4 {
                float: left;
                width: 150px;
                height: 70px;
                font-size: 16px;
                color: black;
                line-height: 70px;
                margin: 0;
            }
            .top5 {
                float: left;
                width: 201px;
                height: 70px;
                font-size: 16px;
                color: black;
                line-height: 70px;
                margin: 0;
            }
            .top6 {
                float: left;
                width: 80px;
                height: 70px;
                font-size: 16px;
                color: black;
                line-height: 70px;
                margin: 0;
            }
        }
        .Bottom {
            width: 100%;
            height: 116px;
            .top1 {
                float: left;
                width: 110px;
                height: 85px;
                margin: 0;
                input {
                    float: left;
                    width: 20px;
                    height: 20px;
                    margin-top: 25px;
                    margin-left: 10px;
                }
            }
        }
        .top2 {
            float: left;
            width: 400px;
            height: 85px;
            margin: 0;
            text-align: left;
            margin-right: 100px;
            img {
                float: left;
                width: 80px;
                height: 80px;
                margin-right: 40px;
            }
            p {
                font-size: 18px;
                color: black;
                line-height: 85px;
            }
        }
        .top3 {
            float: left;
            width: 158px;
            height: 85px;
            p {
                font-size: 18px;
                color: black;
                line-height: 85px;
            }
        }
        .top4 {
            float: left;
            width: 150px;
            height: 85px;
            margin-left: 10px;
            div {
                width: 100%;
                height: 100%;
                i,input {
                    float: left;
                    line-height: 85px;
                }
                i {
                    width: 20px;
                    height: 20px;
                }
                input {
                    width: 110px;
                    height: 38px;
                    margin-top: 25px;
                    padding-left: 52px;
                }
            }
        }
        .top5 {
            float: left;
            width: 201px;
            height: 85px;
            p {
                font-size: 18px;
                color: black;
                line-height: 85px;
                color: #ff6700;
            }
        }
        .top6 {
            float: left;
            width: 80px;
            height: 85px;

            p {
                line-height: 85px;
                text-align: center;
                margin-right: 18px;
            }
        }
        figure {
            position: absolute;
            top: 360px;
            width: 1226px;
            height: 50px;
            background-color: #fff;
            div {
                background-color: #fff;
            }
            div:nth-of-type(1) p {
                width: 100px;
                height: 50px;
                font-size: 16px;
                color: black;
                line-height: 50px;
            }
            div:nth-of-type(2)  i,p{
                float: left;
                font-size: 16px;
                color: black;
                line-height: 50px;
            }
            div:nth-of-type(2) p{
                width: 210px;
                margin: 0;
                font-size: 18px;
                color: #fff;
                background-color: #ff6700;
            }
            div:nth-of-type(2) i{
                margin-right: 100px;
            }
            div:nth-of-type(1){
                width: 350px;
                margin: 0;
            }
            div:nth-of-type(2){
                position: absolute;
                top: 0;
                right: 0;
                width: 435px;
            }
        }
    }
}
/* 底部 */
footer #divs {
    width: 1226px;
    height: 80px;
    margin: auto;
}

#divs {
    border-bottom: 1px solid #e0e0e0;
}

#divs .ul {
    display: flex;
    text-align: center;
}

#divs .ul li {
    flex: auto;
    line-height: 80px;
}

#divs .ul li a {
    font-size: 16px;
    color: #616161;
    font-style: normal;
}

#divs .ul li:nth-of-type(1)::before {
    content: "\e635";
    font-family: 'iconfont';
    src: url('iconfont.woff2?t=1662191341635') format('woff2'),
        url('iconfont.woff?t=1662191341635') format('woff'),
        url('iconfont.ttf?t=1662191341635') format('truetype');
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#divs .ul li:nth-of-type(2)::before {
    content: "\e60e";
    font-family: 'iconfont';
    src: url('iconfont.woff2?t=1662191341635') format('woff2'),
        url('iconfont.woff?t=1662191341635') format('woff'),
        url('iconfont.ttf?t=1662191341635') format('truetype');
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#divs .ul li:nth-of-type(3)::before {
    content: "\e606";
    font-family: 'iconfont';
    src: url('iconfont.woff2?t=1662191341635') format('woff2'),
        url('iconfont.woff?t=1662191341635') format('woff'),
        url('iconfont.ttf?t=1662191341635') format('truetype');
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#divs .ul li:nth-of-type(4)::before {
    content: "\e787";
    font-family: 'iconfont';
    src: url('iconfont.woff2?t=1662191341635') format('woff2'),
        url('iconfont.woff?t=1662191341635') format('woff'),
        url('iconfont.ttf?t=1662191341635') format('truetype');
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#divs .ul li:nth-of-type(5)::before {
    content: "\e652";
    font-family: 'iconfont';
    src: url('iconfont.woff2?t=1662191341635') format('woff2'),
        url('iconfont.woff?t=1662191341635') format('woff'),
        url('iconfont.ttf?t=1662191341635') format('truetype');
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer #divss {
    position: relative;
    width: 1226px;
    height: 393px;
    margin: auto;
}

#divss dl:nth-of-type(1) {
    margin-left: 150px;
}

#divss dl {
    float: left;
    width: 160px;
    margin-top: 20px;
}

#divss dt {
    font-size: 14px;
    margin-bottom: 20px;
}

#divss dd {
    line-height: 30px;
}

#divss .divsss {
    position: absolute;
    top: 20px;
    right: 0;
    width: 252px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

#divss .divsss h2 {
    color: #ff6700;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

#divss .divsss h4 {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

#divss .divsss h3 {
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    margin: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
}

#divss .divsss h3::before {
    content: "✉️";
}

#divss .divsss h3:hover {
    background-color: #ff6700;
    color: white;
}

footer .mod_copyright {
    height: 266px;
    background-color: #fafafa;
}

.mod_copyright .site-info {
    width: 1226px;
    height: 100%;
    margin: auto;
    padding: 20px 0;
}

.mod_copyright .site-info .container img {
    width: 83px;
    height: 23px;
}

.mod_copyright .site-info h1 {
    text-align: center;
    font-size: 25px;
    color: #3333;
    font-family: "华文行楷";
    margin-top: 50px;
}

.mod_copyright .site-info a {
    color: #757575;
    font-style: normal;
}

.mod_copyright .site-info #img {
    float: left;
}

.container {
    margin-left: 85px;
}